@font-face {
    font-family: "vaziri";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/Vazir-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "vaziri";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/Vazir-Bold.woff") format("woff");
  }
  body  {
    font-family: "vaziri";
  }
  